/* userContent.css */
@-moz-document url(about:newtab), url("about:home") {
  html {
    --newtab-background-color: transparent !important;
    --newtab-background-color-secondary: transparent !important;
    background: transparent !important;
  }

  body {
    background: transparent !important;
  }
}
